<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>    
    
     
    <servlet>
        <servlet-name>BookListServlet</servlet-name>
        <servlet-class>servlet.BookListServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>BookListServlet</servlet-name>
        <url-pattern>/listBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookAddServlet</servlet-name>
        <servlet-class>servlet.BookAddServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>BookAddServlet</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>  
    <servlet>
        <servlet-name>BookDeleteServlet</servlet-name>
        <servlet-class>servlet.BookDeleteServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>BookDeleteServlet</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping> 
    <servlet>
        <servlet-name>BookEditServlet</servlet-name>
        <servlet-class>servlet.BookEditServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>BookEditServlet</servlet-name>
        <url-pattern>/editBook</url-pattern>
    </servlet-mapping>  
    
    <servlet>
    <servlet-name>BookUpdateServlet</servlet-name>
        <servlet-class>servlet.BookUpdateServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>BookUpdateServlet</servlet-name>
        <url-pattern>/updateBook</url-pattern>
    </servlet-mapping>
</web-app>